@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--hoverable-distance: 1.5rem;
}

*,
html {
	box-sizing: border-box;
}

a:hover {
	text-decoration: underline;
	@apply cursor-pointer;
}

header a[aria-current='true'] {
	@apply text-lime-500 font-bold;
}
